<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">Sign in to your account</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= form_with url: session_path do |form| %>
      <div>
        <label for="email" class="block text-sm/6 font-medium text-gray-900">Email address</label>
        <div class="mt-2">
          <%= form.email_field :email_address, required: true, autofocus: true, 
            autocomplete: "email", 
            placeholder: "Enter your email address", 
            value: params[:email_address], 
            class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
          %>
        </div>
      </div>
      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm/6 font-medium text-gray-900">Password</label>
        </div>
        <div class="mt-2">
          <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" %>
        </div>
      </div>
      <%= form.submit "Sign in", class: "font-semibold text-indigo-600 hover:text-indigo-500" %>
    <% end %>

    <div class="text-sm">
      <%= link_to "Forgot password?", new_password_path, class: "font-semibold text-indigo-600 hover:text-indigo-500" %>
    </div>
    
  </div>
  <div class="mt-10 sm:mx-auto sm:w
    <div class="text-sm">
      <%= link_to "Don't have an account? Sign up", new_user_path, class: "font-semibold text-indigo-600 hover:text-indigo-500" %>
    </div>
  </div>
</div>
