<%= form_with model: card do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
        <% card.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, class: "block rounded-md min-w-0 py-1.5 pr-3 pl-1 text-base text-gray-900 outline-1 outline-gray-300 sm:text-sm/6" %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" %>
  </div>
  <div>
    <%= form.label :condition %>
    <%= form.select :condition, Card::CONDITION.map { |condition| [condition.humanize, condition] } %>
  </div>
  <div>
    <%= form.hidden_field :price, value: 0.00 %>
  </div>
  <div>
    <%= form.hidden_field :quantity, value: 1 %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>