<div class="flex gap-6 p-7 flex-row md:gap-8 rounded-2xl">
  <div>
    <%= image_tag "http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=#{params[:gatherer_id]}&type=card" %>
  </div>
  <div class="flex mb-4">
    <ul>
      <li>Name: <%= link_to @gatherer_card[:name], "https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=#{@gatherer_card[:id]}", target: '_blank' %></li>
      <li>Rarity: <%= @gatherer_card[:rarity] %></li>
      <li>
        Set: <%= @gatherer_card[:set][:id] %> <%= @gatherer_card[:set][:description] %>
      </li>
      <li>Spell Type: <%= @gatherer_card[:card_type] %></li>
    </ul>
  </div>
  <div>
    <%= link_to "Save Card", cards_path(@gatherer_card), method: :post, class: "bg-blue-500 text-white px-4 py-2 rounded" %>
    <%= link_to "Cancel", cards_path, class: "bg-gray-500 text-white px-4 py-2 rounded" %>
  </div>