<div class="text-3xl font-bold underline">Card Collection</div>

<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<div id="card_catalog" class="flex flex-col relative">
  <%= turbo_frame_tag "card_search" do %>
    <%= render "search_gatherer" %>
  <% end %>

  <%= turbo_frame_tag "card_content", src: "/cards/list" do %>
    <div>
      <div class="items-center justify-center" role="status">
        <%= image_tag "loading.svg" %>
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  <% end %>
</div>